[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=mate-daemon
Comment=keyboard
TryExec=/usr/lib/mate-settings-daemon/mate-settings-daemon
Exec=/usr/lib/mate-settings-daemon/mate-settings-daemon
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-UKUI-Autostart-enabled=true
X-MATE-Autostart-enabled=true
Terminal=false
Hidden=false
